body{
    font-family: "League Gothic", sans-serif;
    margin: 0px;
    box-sizing: border-box;
}
.style-standard{
    font-family: "League Gothic", sans-serif;
    text-transform: uppercase;
    font-size: 80px;
    margin: 0;
    color: #FFF;
    text-shadow: 
    3px 3px 0px #FE3CB7, 
    -3px -3px 0px #FE3CB7, 
    -3px 3px 0px #FE3CB7, 
    3px -3px 0px #FE3CB7;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    width: 100%;
    height: 56px;
}
header nav{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: #FFF;
    z-index: 100;
    margin-bottom: 0px;
}
header nav ul {
display: flex;
max-width: 740px;
width: 100%;
justify-content: space-around;
list-style-type: none;
margin-bottom: 0px;
flex-wrap: nowrap;
}
header nav ul li{
    font-size: 20px;
    cursor: pointer;
    font-weight: 400;
    padding-bottom: 11px;
}
nav ul li a{
    text-decoration: none;
    color: #432638;
}
nav ul li a.active {
    border-bottom: 4px solid #18C0DB;
  }

.container-inicio{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 567px;
    max-width: 1440px;
    background: url(imagens/Barbie-banner-SP.jpeg) no-repeat center center / cover;
}
.container-accountant{
width: 100%;
display: flex;
justify-content: center;
}
.accountant{
    width: 30%;
    text-align: center;
    margin: 63px 0px 83px 0px;
}
.accountant h4{
font-size: 30px;
font-weight: 400;
color: #432638;
margin: 0px 0px 32px 0px;
}
.countdown{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
#days, #hours, #minutes, #seconds{
    font-size: 56px;
    font-family: "Montserrat", sans-serif;
    color: #FE3CB7;
    font-weight: 600;
}
.countdown-date{
    font-size: 20px;
    font-family: "League Gothic", sans-serif;
    color: #18C0DB;
    margin: 16px 0px;
    text-transform: uppercase;
    line-height: 40px;
}
.container-encontro{
    display: flex;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
}
.container-encontro__wrapper{
    display: flex;
    margin: auto;
    width: 100%;
    max-height: 600px;
}
.wrapper-encontro{
    flex-basis: 60%;
    max-width: 720px;
    max-height: 600px;
    padding: 68px 64px 0px 119px;
    background-color:#E5EAEB ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrapper-encontro h1{  
    margin: 0;
    text-align: left;
    color: white;
    line-height: 70px;
    display: inline-block;
}
.wrapper-encontro p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    margin: 24px 0px 4px 0px;
    width: 85%;
    line-height: 28px;
}
.wrapper-encontro strong{
    color: #432638;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin: 0px 0px 24px 0px;
}
.wrapper-encontro a{
    margin: 32px 0px 0px 0px;
    height: 60px;
    max-width: 190px;
    font-size: 30px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FE3CB7;
    box-shadow: 4px 4px 0px 0px #18C0DB;
    text-decoration: none;
    color: white;
    cursor: pointer;
    text-align: center;
}
.container-percurso{
    margin: 85px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.wrapper-percurso{
    display: flex;
    max-width: 1200px;
    width: 100%;
    padding: 0px 120px;
}
.info-percurso{
    font-family: "Inter", sans-serif;
    margin: auto auto auto 64px;
    flex-basis: 50%;
    color: #432638;
    font-size: 16px;
}
.mapa-percurso img{
    max-width: 600px;
}
.mapa-percurso #mapa-img{
    border: 4px solid #FE3CB7;
    box-shadow: 8px 8px 0px 0px #FE3CB7;
    border-radius: 24px;

}
.button-percurso{
    margin: 32px 0px 0px 0px;
    display: flex;
}
.button-percurso-3k, .button-percurso-5k{
    border-radius: 100%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #432638;
    margin: 0px 12px 0px 12px;
    box-shadow: 4px 4px 0px 0px #18C0DB;
    color: #FFF;
    font-family: League Gothic;
    font-size: 32px;
    cursor: pointer;
}

.button-percurso-5k{
    background-color: #FE3CB7;
}
.itens-kit{
    width: 100%;
    display: flex;
    justify-content: center;
}
.image-kit{
    z-index: 1;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}
.image-kit img{
    width: 80%;
    max-width: 600px;
}
.style-barbie{
    box-shadow: 8px 8px 0px 0px #18C0DB;
    border-radius: 24px;
}
.wrapper-kit{
    max-width: 1200px;
    width: 100%;
    background-color: #FE3CB7;
    padding: 80px 120px;
    display: flex;    
    position: relative;
}
.info-kit{
    font-family: "Inter", sans-serif;
    margin: auto auto auto 64px;
    flex-basis: 35%;
    color: #FFF;
}
.info-kit h1{
    text-shadow: 
    3px 3px 0px #DE299C, 
    -3px -3px 0px #DE299C, 
    -3px 3px 0px #DE299C, 
    3px -3px 0px #DE299C;
}
.button-kit{
    margin: 32px 0px 0px 0px;
    display: flex;
}
.button-kit-vip, .button-kit-barbie{
    width: 160px;
    font-family: League Gothic;
    height: 64px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#FE3CB7;
    font-size: 30px;
    box-shadow: 4px 4px 0px 0px #18C0DB;
    background-color: #FFF;
    margin: 0px 12px 0px 12px;
    cursor: pointer;
}
.button-kit-select{
    background-color: #FFF200;
}
.background-kit{
    position: absolute;
    bottom: -4px;
    left: 0;
}
.container-regulamento{
    width: 100%;
    display: flex;
    justify-content: center;
}
.wrapper-regulamento{
    max-width: 1200px;
    width: 100%;
    margin: 114px 0px 64px 0px;
}
.title-regulamento{
    width: 100%;
    border-radius: 24px 24px 0px 0px;
    background-color: #FE3CB7;
    position: relative;
    height: 56px;
}
.title-regulamento h1{
    margin: 0;
    position: absolute;
    top: -40px;
    left: 40px;
    font-size: 80px;
    text-shadow: 
    3px 3px 0px #DE299C, 
    -3px -3px 0px #DE299C, 
    -3px 3px 0px #DE299C, 
    3px -3px 0px #DE299C;
}
.texto-regulamento{
    padding: 40px;
    color: #432638;
    font-family: "Inter", sans-serif;
    background-color: #E5EAEB;
    border-radius: 0px 0px 24px 24px;
}
.texto-regulamento p{
    margin-top: 0;
}
.content-regulamento{
    overflow-y: scroll;
    height: 300px;
    padding-right: 16px;
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #C3CED0;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #FE3CB7;
    border-radius: 8px;
}

footer{
    width: 100%;
    padding: 80px 0px 0px 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.wrapper-footer{
    width: 100%;
    max-width: 1440px;
    background-color: #FE3CB7;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
}
.wrapper-footer h1{
    margin-top: 80px;
    text-shadow: 
    3px 3px 0px #DE299C, 
    -3px -3px 0px #DE299C, 
    -3px 3px 0px #DE299C, 
    3px -3px 0px #DE299C;
}
.wrapper-footer p{
    max-width: 700px;
    width: 100%;
    text-align: center;
    margin: auto;
}
.wrapper-footer .btn-whats{
    margin: 32px auto auto auto;
    width: 223px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FE3CB7;
    background-color: #FFF;
    border-radius: 100px;
    box-shadow: 4px 4px 0px 0px #1796AA;
    font-family: League Gothic;
    font-size: 30px;
    cursor: pointer;
}
.copy-ticket{
    margin: 80px 0px 0px 0px;
    padding: 18px 0px;
    background-color: #DE299C;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}
.copy-ticket a{
    text-decoration: none;
    font-weight: 600;
    color: #FFF;
}
.img-duvidas{
    margin-top: 80px;
}
@media (max-width: 768px){
    nav ul{
        overflow-x: scroll;
        padding: 0px 10px;
    }
    nav ul::-webkit-scrollbar {
        height: 2px;
    }
    nav ul li div{
        width: 110px;
    }
    ul li div:first-child{
        text-align: left;
    }
    .menu-style{
        width: 50px;
    }
    .menu-style-1{
        width: 70px;
    }
    .menu-style-2{
        width: 90px;
        margin-left: 5px;
    }
    .container-inicio{
        background: url(imagens/Testeira-SP-mobile.jpg);
        width: 100%;
        max-width: 768px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .accountant{
        width: 100%;
    }
    .wrapper-encontro{
        flex-basis: 100%;
        padding: 68px 10px 30px 10px;
    }
    .container-encontro__wrapper{
        flex-wrap: wrap;
        height: max-content;
        max-height: max-content;
    }
    .container-encontro__wrapper img{
        width: 100%;
    }
    .wrapper-percurso{
        flex-wrap: wrap;
        padding: 0;
        flex-direction: column-reverse;
    }
    .title-percurso{
        width: 100%;
        display: flex;
    }
    .title-kit{
        width: 100%;
        display: flex;
    }
    .title-kit img{
        width: 50%;
    }
    .info-percurso{
        margin: 0;
        padding: 0px 10px 30px 10px;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .button-percurso{
        justify-content: center;
    }
    .mapa-percurso{
        width: 100%;
    }
    .mapa-percurso div{
        width: fit-content;
    }
    .mapa-percurso img{
        width: 80%;
        display: flex;
        margin: auto;
    }
    .wrapper-kit{
        flex-wrap: wrap;
        padding: 40px 0px;
        justify-content: center;
    }
    .info-kit{
        z-index: 10;
        flex-basis: 100%;
        margin: auto 15px auto 15px;
    }
    .image-kit{
        z-index: 1;
        width: 100%;
        margin-top: 30px;
    }
    .image-kit img{
        width: 80%;
        display: flex;
        margin: auto;    
        max-width: 450px;
}
.button-kit{
    justify-content: center;
}
.texto-regulamento{
    padding: 10px;
}
.title-regulamento{
    width: 100%;
}
.title-regulamento div h1 img{
    width: 30%;
}
    
    .fale-conosco, footer{
        padding: 0;
    }
    .copy-ticket{
        padding: 18px 10px;
    }
    .img-duvidas{
        width: 100%;
    }
    .img-duvidas img{
        width: 70%;
    }
}
@media (max-width: 425px){
    .style-standard{
        font-size: 60px;
    }
    .container-inicio{
        background-size: contain;
        background-repeat: no-repeat;
        height: 330px;
    }
    .button-kit{
        flex-wrap: wrap;
    }
    .button-kit-vip, .button-kit-barbie{
        margin-bottom: 8px;
    }
    .title-regulamento h1{
        font-size: 60px;
        width: 100%;
        justify-content: center;
        display: flex;
        top: -40px;
        left: 0;
        }
}